.info_box,
.info_box_secondary,
.info_box_muted {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.info_box {
	padding: 14px 16px;
	border-radius: 16px;
	background: #141414f2;
	border: 1px solid #ffffff14;
}

.info_box_secondary {
	background: rgba(23, 23, 23, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.04);
	border-radius: 16px;
	padding: 14px 16px;
}

.info_box_secondary p {
	color: #a1a1aa;
	margin: 0;
	font-size: 13px;
}

.info_box_secondary h4 {
	color: #f1f1f1;
	margin: 0 0 4px;
	font-size: 13px;
	font-weight: 600;
}

.info_box_muted {
	padding: 12px 14px;
	border-radius: 16px;
	background: hsla(0, 0%, 6%, 0.9);
	border: 1px dashed hsla(0, 0%, 100%, 0.09);
}

.info_box_muted p {
	color: #71717a;
	margin: 0;
	font-size: 12px;
}

.info_box p:last-of-type,
.info_box_secondary p:last-of-type,
.info_box_muted p:last-of-type {
	margin-bottom: 1rem;
}

.back_link,
.action_button {
	margin-top: auto;
}

.info_title {
	color: #f9fafb;
	margin: 0 0 6px;
	font-size: 14px;
	font-weight: 600;
}

.info_text {
	color: #fffc;
	margin: 0;
	font-size: 13px;
}

.info_small {
	margin: 0;
	font-size: 12px;
	color: #71717a;
}

.back_link {
	font-size: 12px;
	color: #e5e7eb;
	text-decoration: none;
	opacity: 0.8;
	display: inline-block;
}

.back_link:hover {
	opacity: 1;
	text-decoration: underline;
}

.action_button {
	width: 100%;
	backdrop-filter: blur(10px);
	color: #fff;
	text-align: center;
	background: #272727;
	border: 1px solid #ffffff1a;
	border-radius: 12px;
	padding: 10px 16px;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	transition: all 0.2s;
	display: block;
}

.action_button:hover {
	background: rgba(255, 255, 255, 0.15);
	border-color: rgba(255, 255, 255, 0.2);
	transform: translateY(-1px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
